.form {
  &_btn {
    padding: 10px 20px;
    outline: none;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    background-color: #008cba;
    border: none;
    transition: 250ms ease-in-out opacity;

    &.error {
      background-color: #bb260d;
      color: #ffffff;
    }

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;


  &_bg {
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
  }

  &_container {
    z-index: 10;
    min-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
  }

  &_footer {
    display: flex;
    justify-content: space-between;
  }
}
